# OS-specific files.
.DS_Store

# Editor and language files.
.idea/
.project/
.bundle/

# Ansible files.
*.retry
.galaxy_install_info

# Vagrant files.
.vagrant/
vagrant_ansible_inventory_default

# Drupal files
drupal/temp/*
!temp/.gitkeep
drupal/vendor
drupal/web/core
drupal/web/profiles/contrib
drupal/web/modules/contrib
drupal/web/themes/contrib
drupal/web/sites/default/files
drupal/web/sites/default/settings.local.php

drupal/web/themes/custom/pactera_edge/node_modules
drupal/web/themes/custom/pactera_edge/dist/

node_modules

drupal/config/sync/google_analytics.settings.yml
drupal/config/sync/google_tag.*.yml
